.mb-3   {
    margin-left: 30px;
}

#main {
    /* float: right; */
    width: 70%;
    margin-bottom: 20px;
}

.board-header {
    display:flex;
    flex-direction: row;
    font-weight: bold;
    background-color: black;
    margin-bottom: 10px;
}
.board-list {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: auto;
    width: 100%;

}

.board-item {
    display:flex;
    flex-direction: row;
    align-items:center;
}

.text {
    width:140px;
    padding-right:10px;
}

.board-title {
    width:250px;
    padding-right:10px;
}

.board-description {
    width:300px;
    padding-right:10px;
}
.num {
    width:90px;
    padding-right:10px;
}

.board-image {
    width:180px;
    padding-right:10px;
}



/* fieldset{
    border-color: floralwhite;
    border-width: 2px;
    border-style:solid;
} */

