.mb-3   {
    margin-left: 30px;
}

#main {
    /* float: right;
    width: 70%;
    margin-left: 30px;
    margin-bottom: 20px; */
    border-color: floralwhite;
    border-width: 3px;
    border-style:solid;
    margin-left: 50px;
}

fieldset{
    border-color: floralwhite;
    border-width: 3px;
    border-style:solid;

}

.loginImage {
    