.hero   {
    height: 724px;
    background-image: url("https://communityimpact.com/uploads/images/2020/06/19/64027.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}